<div class="CalloutBlock">
  <div class="CalloutBlock-icon">
    {{ content.field_icon }}
  </div>
  <div class="CalloutBlock-title">   
    {{ content.field_title }}
  </div>
  <div class="CalloutBlock-title">
    {{ content.field_body }}    
  </div>
</div>
