<div class="TextWithImageBlock">
  {% if content.field_image %}
    <div class="TextWithImageBlock-image">
      {{ content.field_image }}
    </div>
  {% endif %}
  <div class="TextWithImageBlock-image-body">
    {{ content.field_body }}
  </div>
</div>
