$fontWeight-bold: 600 !default;

.Node.Node--type-article.Node--display-full {
  .ArticleIcon {
    display: inline-block;
    font-size: 1.2em;
    padding-right: 0.5em;
  }

  .Node-metaContainer {
    margin: 1em 0;
    padding: 0 1rem;
    display: block;
  }

  .Node-metaContainer .Field {
    display: inline-block;
    padding-right: 0.5em;
    font-weight: $fontWeight-bold;

    .Field-item {
      display: inline;
    }

    &:after {
      display: inline-block;
      content: "•";
      padding-left: 0.5em;
    }

    &:last-child:after {
      display: none;
    }
  }
}
