$lightGray: #eee !default;
$spacing-fixed: 1.5rem !default;

.search-suggestions-container {
  right: 0;
  border: 1px solid #ccc;
  background: #fff;
  margin-top: -1px;

  .search-suggester-results {
    left: 0;
    padding: 0.25em;
    display: none;

    @include media($screen-mediumUp) {
      display: block;
    }
  }

  .Block--site-search-exposed-form & {
    width: 300%;

    .search-suggester-results {
      width: 66.6%;
    }
  }

  .Block--site-search-exposed-form-main & {
    z-index:1;
    width: 200%;

    .search-suggester-results {
      width: 50%;
    }
  }

  .search-suggester-results {
    padding: $spacing-fixed $spacing-fixed 0 0;
    border-right: none;

    .search-suggester-results-inner,
    > .views-element-container {
      border-right: 1px solid darken($lightGray, 10%);
    }
  }

  .search-suggester-result,
  .views-row > div {
    padding: 1em 1em 0.5em;

    .Field.Field--name-product-id {
      font-size: 1.2em;
    }
  }

  .search-suggester-result,
  .views-row {
    border-bottom: 1px solid darken($lightGray, 10%);

    &:last-child {
      border-bottom: none;
    }
  }

  .search-suggester-results__heading {
    padding-left: 1em;
  }
}

