.ShareButtons-button {
  background-color: $blue;
  border-radius:4px;
  width:42px;
  height:42px;
  box-sizing:border-box;
  position:relative;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:1.2rem;
}

.ShareButtons{
  & > * {
    float:left;
  }
  .ShareButtons-button + .ShareButtons-button {
    margin-left:2px;
  }
  .ShareButtons-button:hover {
      background:$yellow;
      color:$darkGray;
  }
}
