// Base variables
$lightGray: #eee !default;
$blue: #477dca !default;
$fontWeight-bold: 600 !default;
$fontWeight-thin: 300 !default;

.CommerceProduct--display-related-teaser {
  @include clearfix;
  position: relative;
  margin-top: $spacing-base/2;

  .Field--name-field-product-ribbon {
    display: none;
  }

  .CommerceProduct-image {
    @include span-columns(12 of 12);
    padding-left: 0.5rem;

    .Region--sidebar_second & {
      padding-left: 0.25rem;
    }

    @include media($screen-mediumUp) {
      @include span-columns(4 of 12);
    }

  }

  .CommerceProduct-content {
    @include span-columns(12 of 12);
    padding-right: 0.5rem;

    @include media($screen-mediumUp) {
      @include span-columns(8 of 12);
    }

  }

  .Field.Field--name-field-image {
    @include ProductImage($boxShadow: 0 0 3px darken($color-border, 10%));
    text-align: center;

    img {
      max-height: 125px;
      width: auto;
      height: auto;
    }

    .Region--sidebar_second & {
      text-align: left;

      img {
        width: 100%;
      }
    }
  }

  .Field--name-field-teaser-title {
    font-weight: $fontWeight-bold;
    font-size: 1.2em;

    .RelatedView--sidebar & {
      font-size: 1em;
    }

    a {
      color: $blue;
    }
  }

  .Field--name-field-base-sku {
    font-size: 1em;
    font-weight: $fontWeight-thin;
    margin-bottom: 0.5em;

    .RelatedView--sidebar & {
      font-size: 0.9em;
    }
  }

  .Field--name-field-teaser-description {
    font-size: 0.9em;
    font-weight: $fontWeight-thin;

    .RelatedView--sidebar & {
      display: none;
    }
  }

  .ProductSku {
    font-size: 0.9em;
  }
}
