#block-main-navigation.Block--menu-main {
  margin-top: 0;
  display: none;
  height: 100%;

  @include media($screen-largeUp) {
    @include span-columns(7 of 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include media($screen-xLargeUp) {
    @include span-columns(7 of 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Block-content {
    @include clearfix;
  }
}
