.paragraph.paragraph--type--inline-media {
  @include span-columns(12 of 12);
  margin-bottom: $spacing-base;

  &.inline-media--right,
  &.inline-media--left {
    @include media($screen-mediumUp) {
      @include span-columns(6 of 12);
      @include omega();

      &.inline-media--right {
        float: right;
        margin-left: $spacing-base;
      }

      &.inline-media--left {
        float: left;
        margin-right: $spacing-base;
      }
    }
  }

  .Field--name-field-video {

  }

  .Field--name-field-caption {
    background: $lightGray;
    font-size: 0.9em;
    margin-top: $spacing-base/4;
    padding: $spacing-base/2;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
