{%
set classes = [
  'paragraph',
  'MediaParagraph',
  'MediaParagraph--id-' ~ paragraph_id
]
%}

<style>
  .MediaParagraph.MediaParagraph--id-{{ paragraph_id }} {
    width: 100%;
    text-align: center;
  }
</style>

<div {{ attributes.addClass(classes) }}>
  {{ content }}
</div>
