{#
/**
 * @file
 * A layout for the checkout registration form
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="commerce-checkout-registration">
  <div class="commerce-checkout-registration__text">
    <h2>{{ 'Save Your Details'|t }}</h2>
    <p>{{ 'Complete your account registration now to be able to access information about your orders and quotes at any time.'|t }}</p>
  </div>
  <div class="commerce-checkout-registration__form">
    {{ form }}
  </div>
</div>
