<div class="IndustryIconAndLabel">
  {{ title_prefix }}
  {{ title_suffix }}

  <span class="IndustryIconAndLabel-icon">
    <span class="Icon">
      <i class="{{ icon }}"></i>
    </span>
  </span>

  <span class="IndustryIconAndLabel-title">
    {{ content.field_teaser_title }}
  </span>
</div>
