$icons: (
        sprite: (width: 2443px, height: 2687px, pngPath: 'images/icons.png', svgPath: 'images/icons.svg'),
 	arrow-down: (width: 26px, height: 28px, backgroundX: 0px, backgroundY: 0px),
 	arrow-left: (width: 25px, height: 28px, backgroundX: -36px, backgroundY: -38px),
 	arrow-right: (width: 23px, height: 28px, backgroundX: -71px, backgroundY: -76px),
 	arrow-up: (width: 26px, height: 28px, backgroundX: -104px, backgroundY: -114px),
 	bars: (width: 24px, height: 28px, backgroundX: -140px, backgroundY: -152px),
 	calculator: (width: 26px, height: 28px, backgroundX: -174px, backgroundY: -190px),
 	caret-down: (width: 16px, height: 28px, backgroundX: -210px, backgroundY: -228px),
 	caret-square-o-down: (width: 24px, height: 28px, backgroundX: -236px, backgroundY: -266px),
 	caret-square-o-left: (width: 24px, height: 28px, backgroundX: -270px, backgroundY: -304px),
 	caret-square-o-right: (width: 24px, height: 28px, backgroundX: -304px, backgroundY: -342px),
 	caret-square-o-up: (width: 24px, height: 28px, backgroundX: -338px, backgroundY: -380px),
 	caret-up: (width: 16px, height: 28px, backgroundX: -372px, backgroundY: -418px),
 	cart-plus: (width: 26px, height: 28px, backgroundX: -398px, backgroundY: -456px),
 	cc-amex: (width: 32px, height: 24.89px, backgroundX: -434px, backgroundY: -494px),
 	cc-discover: (width: 32px, height: 24.89px, backgroundX: -476px, backgroundY: -529px),
 	cc-mastercard: (width: 32px, height: 24.89px, backgroundX: -518px, backgroundY: -564px),
 	cc-visa: (width: 32px, height: 24.89px, backgroundX: -560px, backgroundY: -599px),
 	check-circle-o: (width: 24px, height: 28px, backgroundX: -602px, backgroundY: -634px),
 	check-square-o: (width: 26px, height: 28px, backgroundX: -636px, backgroundY: -672px),
 	chevron-down: (width: 28px, height: 28px, backgroundX: -672px, backgroundY: -710px),
 	chevron-left: (width: 21px, height: 28px, backgroundX: -710px, backgroundY: -748px),
 	chevron-right: (width: 19px, height: 28px, backgroundX: -741px, backgroundY: -786px),
 	chevron-up: (width: 28px, height: 28px, backgroundX: -770px, backgroundY: -824px),
 	circle: (width: 24px, height: 28px, backgroundX: -808px, backgroundY: -862px),
 	circle-o: (width: 24px, height: 28px, backgroundX: -842px, backgroundY: -900px),
 	circle-thin: (width: 24px, height: 28px, backgroundX: -876px, backgroundY: -938px),
 	clock-o: (width: 24px, height: 28px, backgroundX: -910px, backgroundY: -976px),
 	close: (width: 22px, height: 28px, backgroundX: -944px, backgroundY: -1014px),
 	cutlery: (width: 22px, height: 28px, backgroundX: -976px, backgroundY: -1052px),
 	ellipsis-h: (width: 22px, height: 28px, backgroundX: -1008px, backgroundY: -1090px),
 	ellipsis-v: (width: 6px, height: 28px, backgroundX: -1040px, backgroundY: -1128px),
 	envelope: (width: 28px, height: 28px, backgroundX: -1056px, backgroundY: -1166px),
 	envelope-o: (width: 28px, height: 28px, backgroundX: -1094px, backgroundY: -1204px),
 	facebook: (width: 16px, height: 28px, backgroundX: -1132px, backgroundY: -1242px),
 	floppy-o: (width: 24px, height: 28px, backgroundX: -1158px, backgroundY: -1280px),
 	google-plus: (width: 32px, height: 24.89px, backgroundX: -1192px, backgroundY: -1318px),
 	hvac: (width: 32px, height: 32px, backgroundX: -1234px, backgroundY: -1353px),
 	lightbulb-o: (width: 16px, height: 28px, backgroundX: -1276px, backgroundY: -1395px),
 	linkedin: (width: 24px, height: 28px, backgroundX: -1302px, backgroundY: -1433px),
 	list-ol: (width: 28px, height: 28px, backgroundX: -1336px, backgroundY: -1471px),
 	list-ul: (width: 28px, height: 28px, backgroundX: -1374px, backgroundY: -1509px),
 	lock: (width: 18px, height: 28px, backgroundX: -1412px, backgroundY: -1547px),
 	map-marker: (width: 16px, height: 28px, backgroundX: -1440px, backgroundY: -1585px),
 	minus-square: (width: 24px, height: 28px, backgroundX: -1466px, backgroundY: -1623px),
 	minus-square-o: (width: 22px, height: 28px, backgroundX: -1500px, backgroundY: -1661px),
 	newspaper-o: (width: 32px, height: 28px, backgroundX: -1532px, backgroundY: -1699px),
 	pencil: (width: 24px, height: 28px, backgroundX: -1574px, backgroundY: -1737px),
 	phone: (width: 22px, height: 28px, backgroundX: -1608px, backgroundY: -1775px),
 	plug: (width: 28px, height: 28px, backgroundX: -1640px, backgroundY: -1813px),
 	plus-circle: (width: 24px, height: 28px, backgroundX: -1678px, backgroundY: -1851px),
 	print: (width: 26px, height: 28px, backgroundX: -1712px, backgroundY: -1889px),
 	question: (width: 17px, height: 28px, backgroundX: -1748px, backgroundY: -1927px),
 	search: (width: 26px, height: 28px, backgroundX: -1775px, backgroundY: -1965px),
 	ship: (width: 32px, height: 28px, backgroundX: -1811px, backgroundY: -2003px),
 	shopping-cart: (width: 26px, height: 28px, backgroundX: -1853px, backgroundY: -2041px),
 	sort: (width: 16px, height: 28px, backgroundX: -1889px, backgroundY: -2079px),
 	sort-asc: (width: 16px, height: 28px, backgroundX: -1915px, backgroundY: -2117px),
 	sort-desc: (width: 16px, height: 28px, backgroundX: -1941px, backgroundY: -2155px),
 	spinner: (width: 28px, height: 28px, backgroundX: -1967px, backgroundY: -2193px),
 	times-circle: (width: 24px, height: 28px, backgroundX: -2005px, backgroundY: -2231px),
 	times-circle-o: (width: 24px, height: 28px, backgroundX: -2039px, backgroundY: -2269px),
 	toggle-off: (width: 32px, height: 28px, backgroundX: -2073px, backgroundY: -2307px),
 	toggle-on: (width: 32px, height: 28px, backgroundX: -2115px, backgroundY: -2345px),
 	twitter: (width: 26px, height: 28px, backgroundX: -2157px, backgroundY: -2383px),
 	unlock-alt: (width: 18px, height: 28px, backgroundX: -2193px, backgroundY: -2421px),
 	upload: (width: 26px, height: 28px, backgroundX: -2221px, backgroundY: -2459px),
 	user: (width: 22px, height: 28px, backgroundX: -2257px, backgroundY: -2497px),
 	user-plus: (width: 32px, height: 28px, backgroundX: -2289px, backgroundY: -2535px),
 	user-times: (width: 32px, height: 28px, backgroundX: -2331px, backgroundY: -2573px),
 	wrench: (width: 26px, height: 28px, backgroundX: -2373px, backgroundY: -2611px),
 	youtube: (width: 24px, height: 28px, backgroundX: -2409px, backgroundY: -2649px),
);
