.Node {
  .Block--goodway-content > .Block-content > & > .Node-content {
    @include OuterPadding();

    .sidebar-second & {
      @include OuterPadding($sidebar: true);
    }
  }

  &.Node--type-industry.Node--display-full {
    .Block--goodway-content > .Block-content > & > .Node-content {
      padding: 0;

      .Headline,
      .Field--name-field-body {
        padding: 0 $spacing-fixed / 2;

        @include media($screen-largeUp) {
          padding: 0 0 0 $spacing-fixed/2;
        }

        @include media($screen-xLargeUp) {
          padding: 0;
        }
      }
    }
  }

  .Node-content {
    @include clearfix;
  }

  .Node-titleContainer {
    @include clearfix;

    .Headline {
      padding-top: 2rem;
    }
  }

  .Node-floatContainer {
    display: none;

    @include media($screen-largeUp) {
      @include span-columns(4 of 9);
      @include omega();
      float: right;
      display: block;
      margin-left: $gutter;
      margin-bottom: $gutter;
    }
  }

  .Node-floatingLink {
    @include PrimaryActionButton($padding: 0.75em 3em);

    @include media($screen-largeUp) {
      float: right;
      margin: 1rem 0;
    }
  }
}
