$yellow: yellow !default;
$mediumGray: #555 !default;

.Block--responsive-cart-button {
  font-size: 1.1em;

  &:hover {
    background-color: $yellow;
    color: $mediumGray;

    a {
      color: $mediumGray;
    }
  }

  .Block-content {
    height: 100%;
  }

  .commerce-cart-block--type-button {
    height: 100%;
  }

  .commerce-cart-block--summary {
    height: 100%;

  }

  .commerce-cart-block--link {
    height: 100%;
  }

  .commerce-cart-block--summary__icon,
  .commerce-cart-block--summary__count {
    padding: 0 .75rem;
    line-height: 45px;
    vertical-align: middle;
    display: inline-block;
  }

  .commerce-cart-block--summary__icon {
    padding-right: 0;
  }

  .commerce-cart-block--summary__count {
    padding-left: 0.25em;
  }
}
