.Tooltip {
  padding: 1rem 0.25rem;

  .Tooltip-title {
    font-size: 1.2em;
    margin-bottom: $spacing-base/2;
  }

  .Tooltip-body {
    color: $mediumGray;
    margin-bottom: $spacing-base/2;

    p {
      margin-bottom: 0.25em;
    }
  }

  .Tooltip-link {
    font-size: 1.1em;
    text-transform: uppercase;

    a:after {
      @include ButtonIcon($position: 'after');
    }
  }
}
